.container {
    height: 90px;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.profile_pic {
    margin: 10px;
}

.details {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 3px 0 0 10px;
}

.specialty {
    font-size: 11px;
    margin-left: 10px;
}

.rating { 
    font-size: 11px;
    margin-left: 10px;
}

.link {
    color: rgb(0, 132, 255);
    text-decoration: underline;
}